.unread-message{
    background: var(--warning-text-2);
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
}
.chat-profile-pic{
    min-width: 2rem;
    min-height: 2rem;
    max-width: 2rem;
    max-height: 2rem;
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 50%;
    margin-right: 0.3rem;
    border : 0.2rem solid var(--color);
    object-fit: cover;
    /* display: none; */
}
.add-chat{
    color: var(--color-7);
}
.inbox-center{
    padding: var(--section-padding);
}
.all-messages{
    background: var(--background-color-2);
    padding: var(--section-padding);
    font-size: var(--header-font-size-4);
    font-weight: 800;
    min-height: 5rem;
    margin: 0.5rem 0;
    border-radius: var(--section-border-radius);
    /* border : 1px solid var(--color) */
}

.read-messages{
    background: var(--background-color-2);
    padding: var(--section-padding);
    font-size: var(--header-font-size-4);
    font-weight: 300;
    min-height: 5rem;
    margin: 0.5rem 0;
    border-radius: var(--section-border-radius);
    border : 1px solid var(--color)
}

.inbox-center-search{
    display: flex; 
    justify-content: right;
    background: #fff;
    border-radius: 2rem;
    padding: 0.5rem;
    margin-left: 0.3rem; 
    background: var(--background-color);
}
.message-search{
    border: none;
    padding: 0.5rem;
    background: var(--background-color-2);
    border-radius: var(--section-border-radius);
    border : 1px solid var(--color)
}
.message-search:focus{
    outline: none;
}

.inbox-photo{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    border : 0.2rem solid var(--color);
    object-fit: cover;
}
.inbox-items{
    margin-left : 0.6rem;
    color: var(--color2);
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.inbox-name{
    text-decoration: none;
    text-transform: capitalize;
    color : var(--color);
    margin-right: 0.2rem;
}
.inbox-userbox{
    display : flex;
    place-items : center;
    margin : 0.6rem
}

.no-connection{
    color: var(--error-color);
    font-weight: 600;
    text-align: center;
}

.connect-link{
    text-decoration: none;
}
.no-message{
    font-size: 1.1rem;
    color: var(--color2);
}
.message-header{
    color: var(--color2);
    text-decoration: none;
    font-size: 1.1rem;
}
.inbox-right{
    position: sticky;
    top: 5rem;
    height: calc(100vh - 6rem);
    overflow-y: scroll;
    background: var(--ad-background)
}